@font-face {
    font-family: MAINFONT;
    src: url("Fonts/RobotoMono-Regular.ttf");
}

:root {
    --mainColor: #f3efe1;
    --mainVariantColor: #e4dfcb;
    --secondColor: #dd6060;
    --secondVariantColor: #cf2e2e;
    --thirdColor: rgb(56, 56, 56);
    --thirdVariantColor: rgb(27, 27, 27);
}

bold {
    font-weight: 100;
}

body {
    background-color: var(--mainColor);
}

.hero {
    height: 50vh;
    background-image: none;
}

.hero nav {
    z-index: 1;
    position: relative;
}

.hero .hero-image {
    filter: saturate(50%) brightness(75%);

    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    max-height: 50vh;
    background-size: cover;
    /* background-image: url("2023/IMG/TEST.png"); */
    background-position: center;
    filter: blur(5px);
}

.hero .content {
    /* Vrmt centrer au milieu de l'ecran, 25 pour moitié de la moitié de l'ecran */
    top: 25%;
    transform: translateY(-25%);

    left: auto;
    text-align: center;
    position: relative;
}

.hero h1
{
    text-shadow: 2px 2px 3px #272727;
}

article h5 {
    font-size: medium;
    margin: 16px;
    margin-left: 0;
    color: var(--thirdVariantColor);
}

.main {
    justify-self: center;
}

article {
    min-height: 50vh;
    width: 1150px;
    display: grid;
    grid-column: 1;
    margin-bottom: 96px;

}

article h2 {
    color: var(--secondVariantColor);
    font-size: 36px;
    margin-top: 32px;
}

.Article-Part img {
    margin-top: 32px;
    width: 100%;
}

.teammate-part {
    display: grid;
    grid-column: auto;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    align-items: stretch;
    justify-content: space-between;
}

.teammate-profil {
    background-color: var(--mainVariantColor);
    margin: 0 16px;
    border-radius: 16px;
    margin-top: 48px;
}

.teammate-profil img {
    width: 100%;
    padding: 15px;
    margin: -15px 0;
    border-radius: 26px;
}

.teammate-profil .name {
    padding: 0;
    margin: 24px;
    vertical-align: text-top;
    border: 0;
}

.teammate-profil .name h5 {
    font-size: medium;
    text-align: center;
    font-size: x-large;
    padding: 0;
    margin: 0px;
    vertical-align: text-top;
    border: 0;
}

.teammate-profil h6 {
    text-align: center;
    font-size: medium;
    margin-bottom: 24px;
    margin-top: 12px;
}

.Article-Links li {
    text-decoration: none;
    display: grid;
    grid-template-columns: 100%;
    margin-top: 72px;
}

.Article-Links li a {
    color: var(--secondVariantColor);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    padding: 8px 20px;
    border: 2px solid var(--secondVariantColor);
    border-radius: 10px;
    transition: 0.4s;
}

.Article-Links li a:hover {
    background-color: var(--secondVariantColor);
    color: var(--mainVariantColor);
}

.Article-Part p {
    text-align: justify;
}

iframe {
    margin-top: 24px;
    width: 1280px;
    height: 720px;
}