@font-face {
    font-family: MAINFONT;
    src: url("Fonts/RobotoMono-Regular.ttf");
}

:root {
    --mainColor: #f3efe1;
    --mainVariantColor: #e4dfcb;
    --secondColor: #dd6060;
    --secondVariantColor: #cf2e2e;
    --thirdColor: rgb(56, 56, 56);
    --thirdVariantColor: rgb(27, 27, 27);
}

body {
    background-color: var(--mainColor);
}

.projects {
    text-align: center;
}

.projects h1,
.projects h2,
.projects h3 {
    color: var(--thirdVariantColor);
}

.projects img
{
    /* display: flex; */
    width: 300px;
    height: 300px;
}

.projects
{
    background-color: #cf2e2e;
}

.projects-parts {
    width: 1150px;
    display: flex;
    flex-direction: column;
    background-color: blue;
}
/* .projects-part {
    display: flex;
    flex-direction: column;
    background-color: cyan;
} */

.projects-objects {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: auto;
    align-items: stretch;
    justify-content: space-between;
    background-color: aquamarine;
}

.projects-object {
    background-color: #cf2e2e;
}