:root {
    --mainColor: #f3efe1;
    --secondColor: #dd4f4f;
    --thirdColor: rgb(56, 56, 56);

    --HeaderYSize: 75px;
    --FooterYSize: 150px;
    --MainBannerYSize: 800px;
    --BannerYSize: 500px;
}

@font-face {
    font-family: MAINFONT;
    src: url("Fonts/RobotoMono-Regular.ttf");
}

@font-face {
    font-family: MAINFONT-Thin;
    src: url("Fonts/RobotoMono-ExtraLight.ttf");
}

@font-face {
    font-family: MAINFONT-Bold;
    src: url("Fonts/RobotoMono-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;

    font-family: MAINFONT-Bold;
}

h1 {
    font-size: 36px;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: var(--HeaderYSize);

    background-color: rgba(56, 56, 56, 0);
    position: fixed;
}

header h1 {
    width: 200px;
    float: left;
    text-align: left;

    color: var(--mainColor);

    line-height: var(--HeaderYSize);
    font-size: xx-large;
}

nav {
    float: right;
    line-height: var(--HeaderYSize);
}

nav a {
    text-decoration: none;
    font-size: 18px;

    color: var(--mainColor);

    border: 2px solid var(--mainColor);

    width: 100px;
    padding: 10px 20px;
    margin: 0 1px;
}

nav a:hover {
    background-color: var(--mainColor);
    color: var(--thirdColor);
    font-weight: 0;
}

.Banner {
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 2px 6px 2px #232323;
}

.Banner h1 {
    color: var(--mainColor);
    text-shadow: 4px 4px 7px rgba(31, 31, 31, 0.44);
    text-align: center;
}

.MainBanner {
    background-image: url("IMG/headerBack.png");
    height: var(--MainBannerYSize);

    background-size: cover;
    background-position: center center;
    box-shadow: 0px 2px 6px 2px #232323;
}

.MainBanner h1 {
    line-height: var(--MainBannerYSize);
}

.BannerProjects h1 {
    line-height: var(--BannerYSize);
}

.BannerProjects {
    background-image: url("IMG/Screen3.png");
    height: var(--BannerYSize);

    background-size: cover;
    background-position: center center;
    box-shadow: 0px 2px 6px 2px #232323;
}

body {
    color: var(--secondColor);
    background-color: var(--mainColor);
}

body .CategoryContent {
    text-align: justify;
    margin: 150px 0px;

    padding: 0 5%;
}

body .CategoryContent h1 {
    text-align: center;
    margin: 75px;
}

body .CategoryContent .AboutText {
    display: inline-block;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

body .CategoryContent .AboutText div {
    width: 45%;
    padding: 0;
    background-color: aqua;
}

body .CategoryContent .AboutText div img {
    width: 100%;
    background-size: cover;
    background-color: #232323;
}

body .CategoryContent .AboutText div a {
    text-decoration: none;
    color: var(--secondColor);
    border: 2px solid var(--secondColor);

    width: 100%;
}

body .CategoryContent .AboutText div a:hover {
    background-color: var(--secondColor);
    color: var(--mainColor);
    font-weight: 0;
}

footer {
    background-color: var(--secondColor);
    color: var(--mainColor);
    height: var(--FooterYSize);
}

footer h2 {
    text-align: center;
    white-space: nowrap;
    width: 100%;

    line-height: 75px;
}

footer .wrapperBot ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    text-align: justify;
}

footer .wrapperBot ul li {
    display: inline-block;
}

footer .wrapperBot ul li img {
    width: 50px;
    height: 50px;
}

footer .wrapperBot ul .break {
    width: 100%;
    height: 0;
}

.wrapperBot {
    width: 90%;
    margin: 0 auto;
}

.wrapperContent {
    width: 90%;
    margin: 0 auto;
}

.NonBold {
    font-family: MAINFONT;
}