@font-face {
    font-family: MAINFONT;
    src: url("Fonts/RobotoMono-Regular.ttf");
}

:root {
    --mainColor: #f3efe1;
    --mainVariantColor: #dbd5bd;
    --secondColor: #dd6060;
    --secondVariantColor: #cf2e2e;
    --thirdColor: rgb(56, 56, 56);
    --thirdVariantColor: rgb(27, 27, 27);
}

* {
    margin: 0;
    padding: 0;

    font-family: MAINFONT;
    box-sizing: border-box;
}

span {
    color: var(--secondVariantColor);
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url("IMG/Banner.png") ;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    color: var(--mainColor);
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: var(--mainColor);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    padding: 8px 20px;
    border: 2px solid var(--mainColor);
}

nav ul li a:hover {
    color: var(--thirdColor);
    background-color: var(--mainColor);
    transition: 0.4s;
}

.content {
    position: absolute;
    left: 8%;

    /* Vrmt centrer au milieu de l'ecran */
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    color: var(--mainColor);
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3 {
    color: var(--mainColor);
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    color: var(--secondVariantColor);
    font-size: 20px;
    letter-spacing: 2px;
}

.about {
    width: 100%;
    padding: 100px 0px;
    background-color: var(--mainColor);
}

.about img {
    height: auto;
    width: 430px;
    border-radius: 20%;
    /* filter: grayscale(); */
}
.about-text {
    width: 530px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about h2 {
    color: var(--thirdColor);
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom:  48px;
    text-align: center;
}

.about-text h5 {
    color: var(--thirdColor);
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: var(--thirdColor);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 14px;
    margin-bottom: 48px;
}